/* CNH CIRCLE K GRAPHICS STANDARDS COLORS:
  Yellow #F2E18B
  Olive Green #9EA374
  Light Blue #C7D6EE
  Red #820024
  Dark Grey #58595B
  Orange #F58025
  Green #6A9448
  Cyan #00A5D9
  Blue #003D79
  Black #231F20
*/

/* CNH CIRCLE K GRAPHICS STANDARDS FONTS: */
@font-face{font-family: 'CenturyGothic'; src: url(../Fonts/CenturyGothic.ttf) format('truetype');}
@font-face{font-family: 'MyriadPro'; src: url(../Fonts/MyriadPro-Regular.otf) format('opentype');}
@font-face{font-family: 'Archer'; src: url(../Fonts/Archer-Semibold.otf) format('opentype');}
@font-face{font-family: 'Garamond'; src: url(../Fonts/Garamond.ttf) format('truetype');}

/* CRAZY KOMP 2018 COLORS:
  Red #9B3629
  Orange #F7811D
  Green #029F61
  Blue #335676
  Gray-Green #788B89
*/

/* CRAZY KOMP 2018 FONTS */
@font-face{font-family: 'AllExesMustDie'; src: url(../Fonts/AllExesMustDie.ttf) format('truetype');}
@font-face{font-family: 'MyriadProLight'; src: url(../Fonts/MyriadPro-Light.otf) format('opentype');}
@font-face{font-family: 'Survivant'; src: url(../Fonts/survivant.ttf) format('truetype');}

*{
  /* Set default text color to black */
  color: white;
}

/******************************************
  Main Text Elements
******************************************/
h1 {
  font-family: "Survivant";
  text-align: center;
  margin: 30px 0;
}

h2{
  font-family: "Survivant";
  font-size: 20px;
}

p, li{
  font-family: "MyriadProLight";
  font-size: 15px;
}

a:hover, a:focus{
  text-decoration: none;
}

/******************************************
  Containers
******************************************/
/* Navbar Offset */
body{ margin-top: 70px; }

body > .container-fluid{
  padding: 3% 0;
}

*:focus{
  outline: 0;
}

.margins{
  margin: 0 18%;
}

#banner{
  background: #788B89;
}

#about{
  background: #F7811D;
}

#documents{
  background: #9B3629;
  color: white;
}

#contact{
  background: #335676;
}

#north{
  border-style: solid;
  border-width: 0;
  border-right-width: 0.5px;
  border-color: white;
}

.left{
  float: left;
  width: 50%;
  padding-right: 1.5%;
  border-style: solid;
  border-width: 0;
  border-right-width: 0.5px;
  border-color: white;
}

.right{
  float: right;
  width: 50%;
  padding-left: 1.5%;
}

.profile{
  padding: 0 4%;
}

/******************************************
  Documents
******************************************/
#documents .panel{
  border-color: white;
  border-width: 3px;
  height: 150px;
  margin-bottom: 30px;
}

#documents .panel:hover{
  background: #9B3629;
  transition: 0.3s ease;
}

#documents .panel:hover h2{
  color: white;
  transition: 0.3s ease;
}

#documents .panel:hover span{
  display: none;
}

#documents .on-hover{
  color: #9B3629;
  display: none;
}

#documents .panel:hover .on-hover{
  display: block;
  color: white;
  transition: 0.3s ease;
}

#documents .panel h2{
  color: #9B3629;
  height: 50px;
}

#documents .panel p, span{
  color: #9B3629;
}

.glyphicon-link{
  font-size: 25px;
}

p a{
  color: #85b1f7;
}

#contact a:hover{
  color: #cee1ff;
}

@media screen and (max-width: 768px) {
  p, li{
    font-size: 12px;
  }
  .margins{
    margin: 0 8%;
  }
  #north{
    border: 0;
  }
  ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
  }
  .profile{
    padding: 5% 25%;
  }
}
